.contenido{
    font-size: 20px;
}

.recomendadas{
    font-size: 30px;
}

.titulo{
    font-size: 40px;
}

.pie{
    font-size: 15px;
}
/*-------------------------------------- Media Query ----------------------------------------------*/

 /* Large devices - PC */
 @media all and (min-width: 992px) and (max-width: 1200px){
    .contenido{
        font-size: 18px;
    }
    
    .recomendadas{
        font-size: 22px;
    }
    
    .titulo{
        font-size: 30px;
    }

    .pie{
        font-size: 12px;
    }
  }
  
  /* Medium devices - Tablet  */
  @media all and (min-width: 769px) and (max-width: 991px) {
    .contenido{
        font-size: 14px;
    }
    
    .recomendadas{
        font-size: 17px;
    }
    
    .titulo{
        font-size: 20px;
    }

    .pie{
        font-size: 10px;
    }
    .descripcion{
        font-size: 12px;
    }
  }
  
  /* Small devices  */
  @media all and (min-width: 600px) and (max-width: 768px) {
    .contenido{
        font-size: 14px;
    }
    
    .seccion{
        display: none;
    }
    
    .titulo{
        font-size: 20px;
    }

    .pie{
        font-size: 10px;
    }
    .descripcion{
        font-size: 12px;
    }
  }

  /* Extra Extra small devices  */
  @media all and (max-width: 599px) {
    .contenido{
        font-size: 12px;
    }
    
    .seccion{
        display: none;
    }
    
    .titulo{
        font-size: 15px;
    }

    .pie{
        font-size: 8px;
    }
    .descripcion{
        font-size: 8px;
    }
  }
    