.card-clima {
    position: absolute;
    top: 0px;
    height: 70px;
}

#date{
    margin-top: -10px;
    font-size: 12px;
}

.wheather img{
    filter: invert(30%);
    width: 12%;
}

#top{
    background-color: black;
}

.wheather p{
    font-size: 20px;
}