.card-clima {
    position: absolute;
    top: 0px;
    height: 60px;
}

#date{
    margin-top: -10px;
    font-size: 12px;
}

.wheather img{
    filter: invert(100%);
    width: 16%;
    margin-top: -14px;
}

#top{
    background-color: black;
}

.wheather p{
    margin-top: -20px;
    font-size: 12px;
}