/*Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .noticia-destacada {
        height: 400px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .noticia-destacada {
        height: 300px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .noticia-destacada {
        height: 300px;
    }
    .noticia-destacada .card-title{
        font-size: 15px;
    }
    .noticia-destacada .card-footer{
        font-size: 13px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .noticias-destacadas {
        height: 400px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1996.98px) {
    .noticias-destacadas {
        height: 380px;
    }
}

@media (min-width: 2000px) {
    .noticias-destacadas {
        height: 540px;
    }
}