.noticias-destacadas{
    height: 400px;
}

h5{
    color: rgb(222,83,64);
}



/*Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    h2{
        font-size: 20px;
    }
    h6{
        font-size: 10px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h2{
        font-size: 20px;
    }

    h6{
        font-size: 10px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1996.98px) {
    
}

@media (min-width: 2000px) {
    
}