.formularios{
    background-color: #E5E5E5;
}

.formLetraCategoria{
    font-size: 20px;
}

.textoTitulo { 
    height: 70px;
    max-height: 70px;
}

.textoCuerpo { 
    height: 100px;
    max-height: 100px;
}
#logo-header{
    width: 300px;
}

.encuadres{
    background-color: #efa9a0;
}

.encuadres h5{
    color: whitesmoke;
}

.encuadres p{
    font-size: 14px;
}
  
#opciones:hover{
    background-color: rgb(222,83,64);
    opacity: 1;
    color: white;
    opacity: 0.6;
}

.text-none:hover{
    text-decoration: none!important;
}
