.formLetraCategoria{
    font-size: 20px;
}

.textoTitulo { 
    height: 70px;
    max-height: 70px;
}

.textoCuerpo { 
    height: 100px;
    max-height: 100px;
}
#logo-header{
    width: 40%;
}

.encuadres{
    background-color: rgb(220,53,69);
}

.encuadres h5{
    color: whitesmoke;
}

.encuadres p{
    font-size: 14px;
}
  
#opciones:hover{
    background-color: rgb(220,53,69);
    opacity: 1;
    color: white;
}

.moneda{
    background-color: black;
}

.moneda h5{
    color: whitesmoke;
}

.botonbt{
    font-weight: bold;
}