.formLetraCategoria {
  font-size: 20px;
  
}

.textoTitulo {
  height: 90px;
  max-height: 90px;
}

.textoCuerpo {
  height: 110px;
  max-height: 110px;
}

.encuadres {
  background-color: #efa9a0;
}

.encuadres h5 {
  color: whitesmoke;
}

.encuadres p {
  font-size: 14px;
}

#opciones:hover {
  background-color: rgb(220, 53, 69);
  opacity: 1;
  color: white;
}

.moneda {
  background-color: black;
}

.moneda h5 {
  color: whitesmoke;
}

.botonbt {
  font-weight: bold;
}
.text-none:hover {
  text-decoration: none !important;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 340px) and (max-width: 766px) {
  #logo-header {
    width: 80%;
  }
}

@media all and (max-width: 599px) {
  .listaCategorias {
    font-size: 15px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #logo-header {
    width: 60%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1600px) {
  #logo-header {
    width: 40%;
  }
}
